*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Poppins", sans-serif;
    background-image: url(assets/img/annie-spratt-tKpA64QrccM-unsplash.jpg);
    background-attachment: fixed;
    background-color: #151C21;
}    

/* ----------GÉNÉRAL-------------- */

:root {
    --color-main : #151C21;
    --shadow-color : #1E2326;
    --white-color : #f1f1f1;
    --accent-color : #FF9F0D;
    --logo-color : #980848;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    color: var(--accent-color);
}

/* ----------NAV BAR-------------- */

.navbar-nav li a{
    color: var(--accent-color);
}

.logo {
    height: 50px;
}

.account , .recherche, .panier{
    color: var(--accent-color);
}

.btn-burger {
    color: var(--accent-color);
}


/* ----------BANNIERE-------------- */

.container-items img {
    height: 350px;
    object-fit: cover;
    object-position: top;
}

.text-banniere h5{
    font-size: 10vmin;
    font-family: updock, cursive;
}

.text-banniere p{
    font-size: 5vmin;
    font-family: updock, cursive;
}

/* ABOUT THE DISTRICT  */

.label-food {
    width: 60px;
}

.card-about h5{
    color: var(--logo-color);
}

header h5 {
    color: var(--logo-color);
}



.container-float h5 {
    color: var(--logo-color);
}

.video {
    width: 100%;
    height: 250px;
    object-position: bottom;
}


/* CATEGORIE */


.hightlight h2{
    text-decoration: underline;
    text-underline-offset: 7px;
    color: var(--accent-color);
}

/* CARD*/

.row-categorie {
    max-width: 800px;
}

.card img{
    width: 100px;
    height: 100px;
}

.card a img{
    background: var(--accent-color);
    padding: 5px 10px;
    width: 50px;
    height: 40px;
    border-radius: 20px;
}


.card-up {
    background: var(--white-color);
    opacity: 0;
}

.card-down {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.card-down p{
    color: var(--white-color);
    text-shadow: 1px 1px #333;
}

.card .card-down img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ANIMATION CARD HOVER */

.card-up:hover {
    opacity: 1;
    transition: opacity .4s ease-in;
}





/* TITLE VEDETTE */

.container-stars{
    animation: shake 1s alternate infinite;
}

.container-stars h2{
    text-decoration: underline;
    text-underline-offset: 7px;
}

.container-stars span{
    top: -10px;
    left: -50px;
}

/* ANIMATION STARS */

@keyframes shake {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


/* CAROUSEL */
.carousel {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.carousel-inner {
    border-radius: 20px;
}



/* BLOCK AVIS */
.block-avis{
    width: 280px;
    height: 160px;
    margin: 10px auto;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 1;
    overflow: hidden;
}
.box {
    width: 100%;
    animation: slideavis 7s ease-in-out alternate infinite;
}

.box p {
    color: var(--white-color);
    line-height: 1.7;
}

/* ANIMATION BLOCK AVIS*/

@keyframes slideavis {
    0% {
        transform: translateY(0px);
    }
    10% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(0px);
    }
    35% {
        transform: translateY(-36%);
    }
    40% {
        transform: translateY(-36%);
    }
    50% {
        transform: translateY(-36%);
    }
    70% {
        transform: translateY(-36%);
    }
    85% {
        transform: translateY(-70%);
    }
    90% {
        transform: translateY(-70%);
    }
    100% {
        transform: translateY(-70%);
    }
}







